<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modal Content</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <form [formGroup]="passwordForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nhập mật khẩu hiện tại <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [type]="hideCurrentPass ? 'password' : 'text'" formControlName="currentPass"></ion-input>
        <ion-icon slot="end" [name]="hideCurrentPass ? 'eye-off' : 'eye'" (click)="hideCurrentPass = !hideCurrentPass">
        </ion-icon>
      </ion-item>
      <div formGroupName="newPass">
        <ion-item>
          <ion-label position="stacked">Nhập mật khẩu mới <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [type]="hideNewPass ? 'password' : 'text'" formControlName="password"></ion-input>
          <ion-icon slot="end" [name]="hideNewPass ? 'eye-off' : 'eye'" (click)="hideNewPass = !hideNewPass"></ion-icon>
        </ion-item>
        <ion-item style="margin-bottom: 7px">
          <ion-label position="stacked">Xác nhận mật khẩu mới <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [type]="hideConfirmPass ? 'password' : 'text'" formControlName="confirmPass"></ion-input>
          <ion-icon slot="end" [name]="hideConfirmPass ? 'eye-off' : 'eye'"
            (click)="hideConfirmPass = !hideConfirmPass">
          </ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="passwordForm.hasError('passwordnotmatch', ['newPass']) &&
      passwordForm.get('newPass').touched" style="font-size: 12px;">
          Mật khẩu không khớp. Vui lòng nhập lại</ion-text>
      </div>
    </ion-list>
  </form>
</ion-content>
<ion-footer padding>
  <ion-button [disabled]="passwordForm.invalid" (click)="confirmChange()">Xác nhận thay đổi</ion-button>
</ion-footer>