ion-content {
    position: relative;

    .image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        ion-avatar {
            width: 100%;
            height: 100%;
        }

        ion-button {
            width: 150px;
            margin: 0;
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
    

    .name {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .detail-info {
        ion-icon {
            padding-right: 25px;
            color: #13CE95;
        }

        // .info-role {
        //     border: none !important;
        // }
    }

}

ion-footer {
    ion-button {
        display: block;
        width: 80%;
        margin: 5px auto;
    }
}

.my-custom-modal-css {
    
}

